.col-1:nth-child(odd){
    background-color: green;
    height: 100px;
}
.col-1:nth-child(even){
    background-color: rgb(0, 0, 0);
    height: 100px;
}
.col-4:nth-child(even){
    background-color: red;
    height: 100px;
}
.container-fluid{
    margin-top: 20px;
}
.row{
    margin-bottom: 10px;
    background-color: aliceblue;
}
.col-4:nth-child(odd){
    background-color: blue;
    height: 100px;
}
.col-8{
    background-color: saddlebrown;
}
.col-6 {
    background-color: cornflowerblue;
    height:  100px;
    border: 1px solid red;
}
.col-12{
    height: 100px;
    background-color: grey;
}